
.container {
    background-image:url(img/Backround.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width: 80%;
    margin:auto;
    margin-bottom:5em;
    box-shadow:10px 10px 10px lightgray;
}

.clr{clear:both}

.desc {
    width:55%;
    float:left;
    padding:0.8em;
    margin-top: 1em;
}

.container img{width:40%;margin:10px;float:left; box-shadow: 10px 10px 10px gray}

.container p{margin:10px;line-height:30px;font-family: Arial; font-size:16px;width:100%}

.container ul{margin:10px;font-size:16px;width:100% ;box-sizing: border-box;list-style: none;text-align:center}

.container li {
    display:inline;
    margin:1.5em;
}

.desc h1{
    padding-top: 1;
    text-align:center;
}

