.container {
    background-image:url(img/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width: 80%;
    margin:auto;
    margin-bottom: 2em;
    box-shadow: 10px 10px 10px lightgray;
    clear:both;
}

.desc {
    float:left;
    padding:0.8rem;
    margin-top: 1rem;
}

.desc img {
    width:30em;
    height:18em;
    margin:1em;
    float:left;
    box-shadow: 10px 10px 10px gray;
}

.container p {
    margin:1rem;
    line-height:1.875em;
    font-family: Arial;
    font-size:1em;
    text-align:justify;
}

.container ul {
    font-size:1.1em;
    list-style: none;
    text-align: center;
    padding: 0;
}

.container li {
    display:inline;
    margin: 1em;
}

.desc h1 {
    text-align:center;
}

