.container {
    background-image:url(img/Backround.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width: 80%;
    margin:auto;
    margin-bottom:5em;
    box-shadow:10px 10px 10px lightgray;
    clear:both;
}

.desc {
    float:left;
    padding:0.8em;
    margin-top: 1em;
}

.desc img {
    width:350px;
    height:250px;
    margin:1em;
    float:left;
    box-shadow: 10px 10px 10px gray;
}

.container p {
    margin:1em;
    line-height:30px;
    font-family: Arial;
    font-size:16px;
    text-align:justify;
}

.container ul {
    margin:2em;
    font-size:16px;
    width:100%;
    list-style: none;
    text-align:center;
    clear:both;
}

.container li {
    display:inline;
    margin:1.5em;
}

.desc h1{
    padding-top: 1;
    text-align:center;
}

