#contact {
    width: 40em;
    clear:both;
    overflow: hidden;
}

.input_rule{
    width:100%;
    margin:0.625rem;
    position: relative;
    display: inline-block;
}


.label-cont {
    width: 8em;
    font-size:1em;
}

.input_text {
    width: 25em;
    height: 1.5em;
    float:right;
    font-size:1.2em;
}

.txt {
    width: 35.9em;
    height: 8em;
    float: right;
}

#action {
    width: 0.937em;
    height: 0.937em;
    margin-top:0.3em;
}

.important {
    color: #BD091B;
}

.error{
    color: #BD091B;
    float: right;
    font-size: 1.2em;
}

.submit_button{
    color: blue;
    padding: 0.9em 3.4em;
    font-size: 1.2em
}

.submit_button:hover {
    text-decoration: underline;
}

.sel {
    text-align: center;
}

.boh {
    font-size:1em;
    padding:0.3em;
    margin:0.1em;
    display: inline-block;
    min-width: 12em;
}

#button_rule {
    text-align: center;
}

@media screen and (max-width: 600px) {
    #contact {
        width: inherit;
        clear:both;
        overflow: hidden;
    }
    .input_rule {
        text-align: center;
    }
    #button_rule {
        text-align: center;
    }
}
