#contact {
    width: 40em;
    clear: both;
    overflow: hidden;
}

.input_rule {
    width: 100%;
    margin: 0.625em;
    position: relative;
    display: inline-block;
}

.label-cont {
    width: 8em;
    font-size: 1em;
}

.input_text {
    width: 70%;
    float: right;
    font-size: 1.2em;
}

#messaggio {
    height: 8em;
}

#action {
    width: 0.937em;
    height: 0.937em;
    margin-top: 0.3em;
}

.important {
    color: #BD091B;
}

.error {
    color: #BD091B;
    float: right;
    font-size: 1.2em;
}

.submit_button {
    color: blue;
    padding: 0.5em 2.5em;
    font-size: 1.2em;
    float: left;
}

.submit_button:hover {
    text-decoration: underline;
}

.sel {
    text-align: center;
}

.boh {
    font-size: 1em;
    padding: 0.3em;
    margin: 0.1em;
    display: inline-block;
    min-width: 12em;
}

#button_rule {
    text-align: center;
}
