#contact {
    width: 40rem;
    clear:both;
    overflow: hidden;
}

.input_rule{
    width:100%;
    margin:10px;
    position: relative;
    display: inline-block;
}


.label-cont {
    width: 8rem;
    font-size:1rem;
}

.input_text {
    width: 30rem;
    height: 2rem;
    float:right;
    font-size:1.2rem;
}

.txt {
    width: 30rem;
    height: 8rem;
    float: right;
}

#action {
    width: 15px;
    height: 15px;
    margin-top:0.3rem;
}

.go {
    font-size: 1.2rem;
    color: blue;
    padding: 0.5rem;
    margin: 1rem;
    float: right;
    width: 15rem;
}

.important {
    color: #BD091B;
}

.error{
    color: #BD091B;
    float: right;
    font-size: 1.2rem;
}

.submit_button{
    padding: 10px 55px;
    font-size: 1.2rem;
}

.sel {
    text-align: center;
}

.boh {

    font-size:1rem;
    padding:0.3rem;
    margin:0.1em;
    display: inline-block;
    min-width: 12em;
}

@media screen and (max-width: 600px) {
    #contact {
        width: inherit;
        clear:both;
        overflow: hidden;
    }
    .input_rule {
        text-align: center;
    }
    #button_rule {
        text-align: center;
    }
}