.container {
    overflow: hidden;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 10px lightgray;
    clear: both;
}

.desc {
    overflow: hidden;
    float: left;
    padding: 2%;
    margin-top: 2%;
}

.desc img {
    width: 40%;
    height: auto;
    margin: 2%;
    float: left;
    box-shadow: 10px 10px 10px gray;
}

.desc p {
    margin: 2%;
    line-height: 150%;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 110%;
    text-align: justify;
}

.container ul {
    font-size: 110%;
    list-style: none;
    text-align: center;
    padding: 0;
}

.container li {
    display: inline;
    margin: 2%;
}

.desc h1 {
    text-align: center;
    color: #BD091B;
    display: block;
}
