* {
    margin:auto;
}

html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 95%;
    margin: auto;
    padding: 0;
}

body {
    background-color: gray;
}

#header {
    margin: 1% 2% 1% 2%;
    border: 1px solid black;
    -webkit-box-shadow:-1px 0 15px -1px black;
    -moz-box-shadow:-1px 0 15px -1px black;
    box-shadow:-1px 0 15px -1px black;
    overflow: auto;
    background-color: white;
}

.tutto {
    clear:both;
    border: 0.125em solid black;
    color: black;
    background-color: white;
}

/* PARTE  HEADER  */
#logo {
    float: left;
    width: 17%;
    height: 30%;
    text-align: center;
}

#logo2 {
    float: right;
    width: 17%;
    height: 30%;
    text-align: center;
}

#logo2 img, #logo img {
    width: 50%;
}

.testologo {
    font-family: Verdana;
    font-size: 1.2em;
    font-style: italic;
}

#logoBeB {
    float: right;
    width: 10em;
    padding: 4em;
}

#titolo {
    color: #BD091B;
    font-size: 3.3em;
    font-weight: bolder;
    margin: 0.5em;
    display: block;
    text-align: center;
}


/* FINE PARTE  HEADER  */

abbr {
    text-decoration: none;
}

/* PARTE BODY  */

#imgBeB {
    float: left;
    width:21.87em;
    height:15.62em;
    padding: 1.5em;
}

#info {
    list-style: none;
    text-align: left;
    padding: 2em;
    font-size: 1.1em;
}

#logoBeB {
    float: right;
    width: 10em;
    padding-top: 1.5em;
    padding-right: 3.5em;
}

.testo {
    text-align: justify;
    padding: 1.5em;
    font-size: 1.1em;
    clear: both;
}

#imgCamere {
    margin: 2em;
    text-align: center;
    clear: both;
}

.camera {
    margin: 1.5em;
    width: 25em;
    height: 18.75em;
}



#homerosolina {
    float:left;
    width: 18.75em;
    height: 12.5em;
    margin-right: 1em;
}

/* FINE PARTE  BODY  */

#servizi  {
    display: table;
    clear: both;
}

/* liste nella home*/
.lista, .lista2 {
    margin: 0 4em;
    padding: 0;
    list-style: none;
    float: left;
    alignment: center;
}

.lista {
    margin-bottom: 1.2em;
}


