* {
    margin:auto;
}

html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 95%;
    margin: auto;
    padding: 0;
}

body {
    background-color: gray;
}

#header {
    margin: 1% 2% 1% 2%;
    border: 1px solid black;
    -webkit-box-shadow:-1px 0 15px -1px black;
    -moz-box-shadow:-1px 0 15px -1px black;
    box-shadow:-1px 0 15px -1px black;
    overflow: auto;
    background-color: white;
}

.tutto {
    clear:both;
    border: 2px solid black;
    color: black;
    background-color: white;
}

/* PARTE  HEADER  */
#logo {
    float: left;
    width: 17%;
    height: 30%;
    text-align: center;
}

#logo2 {
    float: right;
    width: 17%;
    height: 30%;
    text-align: center;
}

#logo2 img, #logo img {
    width: 50%;
}

#testologo {
    font-family: Verdana;
    font-size: 1.2rem;
    font-style: italic;
}

#logoBeB {
    float: right;
    width: 10rem;
    padding: 4rem;
}

#titolo {
    color: #BD091B;
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 0.5rem;
    display: block;
    text-align: center;
}


/* FINE PARTE  HEADER  */

abbr {
    text-decoration: none;
}

/* PARTE BODY  */

#imgBeB {
    float: left;
    width:350px;
    height:250px;
    padding: 1.5em;
}

#info {
    list-style: none;
    text-align: left;
    padding: 2rem;
    font-size: 1.1rem;
}

#logoBeB {
    float: right;
    width: 10rem;
    padding-top: 1.5rem;
    padding-right: 3.5rem;
}

.testo {
    text-align: justify;
    padding: 1.5rem;
    font-size: 1.1rem;
    clear: both;
}

#imgCamere {
    margin: 2rem;
    text-align: center;
}

.camera {
    margin: 1.5rem;
    width: 400px;
    height: 300px;
}

#homerosolina {
    float:left;
    width: 300px;
    height: 200px;
    margin-right: 1rem;
}

/* FINE PARTE  BODY  */



/* liste nella home*/

 .lista {
     list-style: none;
 }

