#footer {
    position: static;
    width: 100%;
    background-color: black;
    padding:0;
    margin-top: 0.625em;
    text-align: center;
    margin-bottom: 0;
}

#footer ul {
    padding: 0.5%;
}

#footer ul li {
    margin: 3%;
    text-align: justify;
    display: inline;
    font-style: italic;
    color: white;
    font-size: 100%;
}
