#footer {
    list-style:none;
    margin:1em;
    margin-top:4em;
    background-color:black;
    height:2em;
    text-align:center;
}

#footer li {
   display:inline;
   font-style: italic;
   color:white;
   padding: 14px 16px;
   text-align:center;
   line-height:2em;
}


