#footer {
    position: static;
    width: 100%;
    background-color: black;
    padding:0;
    margin-top:10px;
    text-align: center;
}

#footer ul {
    padding: 0.3rem;
}

#footer ul li {
    display: inline;
    font-style: italic;
    color: white;
    font-size: 1.1rem;
}
