#contact {
    width: 45vw;
    clear:both;
}

#input_rule{
	width:100%;
	margin:10px;
	position: relative;
	display: inline-block;
}

#button_rule{
	
}

.label-cont {
    width: 10vw;
    font-size:1.2vw;
}

.input_text {
    width: 35vw;
    height: 2.5vw;
    float:right;
    font-size:1.2vw;
}

select {
    clear: both;
}

.txt {
    width: 35vw;
    height: 10vw;
    float: right;
}

#action {
    width: 15px;
    height: 15px;
    margin-top:0.5vw;
}

.go {
    font-size: 1.2vw;
    color: blue;
    padding: 0.5vw;
    margin: 1vw;
    float: right;
    width: 15vw;
}

.important {
    color: #BD091B;
}

.error{
	color: #BD091B;
	float: right;
	font-size: 1.2vw;
}

.submit_button{
	padding: 10px 55px;
    font-size: 1.2vw;
}
