#home .home, #BandB .BandB, #pren .pren, #contatti .contatti, #AP .AP
{
    background-color: #BD091B;
    color: white;
}

#menu {
    list-style-type: none;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin-bottom:0.5em;
    background-color:black;
}

#menu li {
    float: left;
}

#menu li:last-child {
    float: right;
    background-color: #BD091B;
}

#menu li:last-child a{
    color:white;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    margin:0;
}

#menu li a:hover {
    background-color: #595857;
    color: white;
}



