#home .home, #BandB .BandB, #pren .pren, #contatti .contatti, #AP .AP
{
    background-color: #BD091B;
    color: white;
}

#menu {
    background-color: black;
    clear:both;
    position:sticky;
    position: -webkit-sticky;
    top:0;
    height: 3.1em;
    margin-bottom:0.5em;
}

#menu ul {
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
}

#menu ul li{
    background-color: black;
    border-bottom: none;
    border-top: none;
    display: inline-block;
    text-decoration: none;
}

#menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    margin:0;
}

#menu ul li a:hover{
    background-color: #595857;
    color: white;
}

#dropdown {
    list-style-type: none;
    margin-bottom: 0.5em;
    display: none;
    position: absolute;
}

#dropdown li {
    width: 250px;
}

#menu ul li:hover > #dropdown {
    display: block;
}

#menu ul li {
    float: left;
    position: relative;
}

#dropdown {
    position: absolute;
    left: 0;
}

#menu ul li:last-child {
    float: right;
    background-color: #0066ff;
}

#menu ul ul li:last-child {
    float: left;
    background-color: black;
}

